<!-- users/professor/registrar_atividade.html -->

{% extends 'base.html' %}

{% block title %}
Sigas - Registrar Atividade
{% endblock %}

{% block content %}

<div class="wrapper">
    {% if pessoa_logada.professor %}
        {% include 'utils/asidebar.html' %}
        
        <div class="main p-3">
            <div class="container">
                <h4>Registrar Atividade</h4>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="descricao">Descrição:</label>
                        <textarea class="form-control" id="descricao" name="descricao" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>
            {% include 'utils/footer.html' %}
        </div>
    {% else %}
        <h2>Você não tem acesso a essa página</h2>
    {% endif %}
</div>

{% endblock %}
