{% extends 'base.html' %}

{% block title %}
Sigas - Registrar Falta
{% endblock %}

{% block content %}
<div class="wrapper">
    {% include 'utils/asidebar.html' %}

    {% if pessoa_logada.professor %}
        <div class="main p-3">
            <div class="container mt-5">
                <h2>Registrar Falta</h2>
                <a href="{% url 'app_sigas:diario_detalhado' disciplina.id %}" class="btn btn-secondary mb-3"><i
                        class="bi bi-arrow-left"></i></a>
                <h5 class="mt-4">{{ disciplina.nome }}</h5>

                <form action="{% url 'app_sigas:registrar_falta' disciplina.id %}" method="POST">
                    {% csrf_token %}
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Aluno</th>
                                    <th>Quantidade de Faltas</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for aluno in alunos %}
                                <tr>
                                    <td>{{ aluno.pessoa.nome_completo }}</td>
                                    <td>
                                        <input type="hidden" name="aluno_id" value="{{ aluno.id }}">
                                        <input type="number" class="form-control" name="quantidade_faltas_{{ aluno.id }}" placeholder="Faltas"
                                            required>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-secondary" type="submit">Registrar</button>
                </form>

            </div>
            {% include 'utils/footer.html' %}
        </div>
    {% else %}
        <h2>Você não tem acesso a essa pagina</h2>
    {% endif %}
</div>

{% endblock %}