@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');



/*ASIDE BAR*/
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    margin: 0;
    margin: 0;
    padding: 0;
}

#sidebar {
    width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #121212;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #121212;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    text-decoration: none;
    padding: .625rem 1.625rem;
    color: #121212;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}


/*FOOTER*/
#footer{
    margin-top: 25rem;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    width: 100%;
    box-shadow: 0px -3px 5px 2px rgba(0, 0, 0, 0.3);
    /* Adiciona um pequeno raio de borda para suavizar as bordas */
    border-top-right-radius: 5px;
}

#footer img{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#footer-top{
    margin-bottom: 2em;
    border-bottom: 1px solid #7a7a7a;
}

#contents-utils{
    margin-bottom: 2rem;
}

#footer-top,
#footer-top i{
    color: #000000;
}

#social-icons{
    text-align: right;
    margin-top: 1rem;
}

#social-icons i{
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

#social-icons i:hover{
    color: #7a7a7a;
}


#footer-details{
    margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container{
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}

#footer-details h4{
    color: #000000;
    margin-bottom: 1.5em;
}

#news-container input{
    border: none;
    border-radius: 0;
}

#links-container li{
    margin-bottom: 0.5em;
}

#links-container a{
    text-decoration: none;
}

#links-container a:hover{
    color: #e60000;
}

#footer-bottom{
    padding: 2em;
}

#footer-bottom i{
    color: #e61e10;
    margin-left: 0.3em;
}

@media(min-width:768px){
    #news-container{
        padding-right: 2em;
    }   

    #links-container{
        padding-left: 2em;
    }

    #contact-container{
        padding: 0 2em;
        border-left: 1px solid #7a7a7a;
        border-right: 1px solid #7a7a7a;
    }
}

.custom-bg a:hover{
    color: #000ff0;
}