{% load static %}

<footer id="footer" style="margin-top: 20rem;">
    <div class="container">
      <div class="row">
        <!--Footer top-->
        <div class="col-12" id="footer-top">
          <div class="row justify-content-between">
            <div class="col-4">
              <img src="{% static '/img/logoSigas.png' %}" alt="logo" width="130px">
            </div>
          </div>
        </div>

        <div class="container text-center" id="contents-utils">
          <div class="row">
            <div class="col">
              <h5>SOBRE O SIGAS</h5>
              <br>
              <h6 class="font-weight-bold">Sistema Integrado de Gestão Acadêmica Simplificado</h6>
              <p>Um software desenvolvido pelo aluno Fábio Junior Senna Moura para o projeto integrador da CyberEdux
                2024/1
              </p>
            </div>
            <div class="col">
              <h5>LINKS ÚTEIS</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item custom-bg" style="background-color: transparent !important;"><a class="nav-link" href="#">Documentação</a></li>
                <li class="list-group-item custom-bg" style="background-color: transparent !important;"><a class="nav-link" href="#">Temas</a></li>
                <li class="list-group-item custom-bg" style="background-color: transparent !important;"><a class="nav-link" href="#">Acessibilidade</a></li>
              </ul>

            </div>
            <div class="col">
              <h5>INFORMAÇÕES TÉCNICAS</h5>
              <p>Ultima atualização: 28/02/2024</p>
              <p>Responsável: Fábio Junior</p>
              <div class="text-center" id="social-icons">
                <a style="color:black;" href="https://instagram.com/fabiojunior9512"><i class="bi bi-instagram"></i></a>
                <a style="color:black;" href="https://github.com/fabio-jr-sm"><i class="bi bi-github"></i></a>
                
              </div>
              <a href="https://www.djangoproject.com/">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain-wordmark.svg"
                  width="90px" />
              </a>
            </div>
          </div>
        </div>

        <!-- FOOTER BOTTOM -->
        <div class="col-12" id="footer-bottom">
          <div class="row justify-content-center">
            <div class="col-12 col-md-3">
              <p class="secondary-color text-center">Sigas &copy; 2024</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>