<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="username">
        <br>
        <br>
        <input type="password" name="password" name="password">
        <br>
        <br>
        <input type="submit" value="Logar">
    </form>

</body>
</html>