{% extends 'base.html' %}

{% block title %}
Sigas - Inicio
{% endblock %}

{% block content %}

<div class="wrapper">
    {% include 'utils/asidebar.html' %}

    
    <div class="main p-3">
        <div class="container">

            <h2>Bem vindo, {{ user.username }}</h2>

            <div class="container overflow-hidden">
                <div class="row gy-5">
                    <div class="col-6">
                        <h5 class="text-secondary">Acesso Rápido:</h5>
                        <ul class="list-group list-group-flush w-3">
                            <li class="list-group-item custom-bg" style="background-color: transparent !important;"><a
                                    class="nav-link" href="{% url 'diario' %}"><i class="bi bi-envelope-paper-fill"></i>Diario</a></li>
                            <li class="list-group-item custom-bg" style="background-color: transparent !important;"><a
                                    class="nav-link" href="{% url 'perfil' %}"><i class="bi bi-person-circle"></i>Perfil</a></li>
                            <li class="list-group-item custom-bg" style="background-color: transparent !important;"><a
                                    class="nav-link" href="#"><i class="bi bi-calendar-event"></i>Calendário</a></li>
                            <li class="list-group-item custom-bg" style="background-color: transparent !important;"><a
                                    class="nav-link" href="#"><i class="bi bi-hourglass-bottom"></i>Horário de Aula</a>
                            </li>
                            <li class="list-group-item custom-bg" style="background-color: transparent !important;"><a
                                    class="nav-link" href="#"><i class="bi bi-view-list"></i>Requerimento Matricula</a>
                            </li>
                            <li class="list-group-item custom-bg" style="background-color: transparent !important;"><a
                                    class="nav-link" href="#"><i class="bi bi-gear-fill"></i>Configurações</a></li>
                        </ul>
                        <br><br>
                        <h5 class="text-secondary">Ensino:</h5>
                        <ul class="list-group list-group-flush w-3">
                            <li class="list-group-item custom-bg" style="background-color: transparent !important;"><a
                                    class="nav-link" href="#">Requerimentos em Disciplina</a></li>
                            <li class="list-group-item custom-bg" style="background-color: transparent !important;"><a
                                    class="nav-link" href="#">Boletins</a></li>
                            <li class="list-group-item custom-bg" style="background-color: transparent !important;"><a
                                    class="nav-link" href="#">Dados do Aluno</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h5 class="text-secondary">Calendário:</h5>
                        {% include 'utils/calendar.html' %}
                    </div>

                </div>
            </div>
        </div>
        {% include 'utils/footer.html' %}
    </div>
</div>



{% endblock %}